<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <application
        android:allowBackup="true"
        android:label="Battery Wallpaper"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        
        <service
            android:name=".BatteryTextWallpaperService"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_info" />
        </service>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Wallpaper Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

